.container-item-detail {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.item-img img {
    border-radius: 20px;
    width: 350px;
    height: 350px;
    margin: 100px;
    border: 4px solid palevioletred;
    box-shadow: 5px 5px 5px 0px #7F669D;
}

.item-description {
    margin-top: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.item-description h1 {
    color: mediumvioletred;
    justify-content: center;
    text-decoration: underline palevioletred;
    font-size: 35px;
}

.item-description h2 {
    font-size: 25px;
    color: black;
    margin-left: 150px;
}

.item-description h3 {
    font-size: 15px;
    color: #7F669D;
}