
    

.container-logo{
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    box-shadow: "10px 0px 10px 1px #7F669D";
    padding: "0 10px";
}
.logo-navbar{
    color: #7F669D;
}